html {
  height: 100%;
}
html,
main,
.l-main__container,
.l-main__container > * {
  /* background-color: #fafbfb !important; */
}

.Wrapper{
  display: flex;
  flex-direction: column; 
  width: 100vw;
  min-height: 100vh;
 }

.graph {
  margin: 0 auto;
  width: 90vw;
}
text {
  font-family: Inter, Arial, sans-serif !important;
}

.flexDirection{
  flex-direction: column;
}


.PageHeader {
  height: 50vh !important;
  background: url("../assets/header_background.png") center no-repeat;;
  background-size: cover;
}
.PageHeadingText{
  height: inherit;
  padding-top: 15vh;
}

.Spacer{
  height: 10rem;
  width: 100vw;
}

.CustomRow{
  display: flex;
  padding-left: 12vw;
  padding-right: 12vw;
}

.Grey{
  background-color: #fafbfb !important;
}
.White{
  background-color: #fff !important;
}
