html{
    font-family: 'Courier New', Courier, monospace;
}
.graph{
    margin: 0 auto;
    margin-top: 5rem;
    width: 90vw;
}
.PageHeader{
    display: flex;
    justify-content: center;
    height: 20rem;
}