html {
  height: 100%;
}
html, main, .l-main__container, .l-main__container > *{
    /* background-color: #f5f5f5 !important; */
}

.graph {
  margin: 0 auto;
  width: 90vw;
}
text {
    font-family: Inter, Arial, sans-serif !important;
  }
.PageHeader {
  display: flex;
  justify-content: center;
  height: 20rem;
}